:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#contact {
  background-color: #afe3c0;
}

#footer ul li a {
  color: #3343a0;
  font-weight: 500;
  text-decoration: none;
}

#footer ul li a:hover {
  text-decoration: underline;
}

.navbar-component{
  height: 10%;
  padding: 0 200px;
  font-size: large;
  color: white;
  background-color: #afe3c0;
  box-shadow: 0px 15px 0px #a4d6ba;
}